CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

*_wasted.py
data/first/*
data/second/*
excel/*
reports/first/*
reports/second/*
pytest/*
code/*
run_code/*.txt
.vscode/*
